.equipos{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.color{
    position: absolute;
    right: 50px;
    top: 20px;
}

.equipos h3{
    font-size: 32px;
    font-weight: 400;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
